@charset "UTF-8";
*{
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 2em;
}
  header{
    background-color: #EFC3BD;
    text-align: left;
    p{
      color: #fff;
      font-size: 1.2rem;
      padding: 12px;
      max-width: 94vw;
    }
  }
.wacth{
  border: solid 1px gray;
}
.stopwacth-wrap{
  margin: 8%;
  text-align: center;
  h1{
    font-size: 1.8rem;
  }
  .disc{
    font-size: 1.4rem;
  }
  .timer{
    width: 80%;
    padding: 10%;
    //background-color: lightgray;
    margin: 0 auto 20px;
    font-size: 3rem;
    font-weight: 900;
  }
}
button{
  border: none;
  cursor: pointer;
  width: 300px;
  line-height: 2;
  padding: 10px;
  font-weight: 700;
}
button.start{
      background-color: #99ccff;

  }
button.stop{
      background-color: #ff6666;
      margin-top: 20px;
  }
  /*実験用*/

.hide{
  visibility: hidden;
}

  button.reset{
      margin-top: 20px;
  }

